.header{
    width: 100%;
    height: 200px;
    //background-image: url("https://unsplash.com/photos/lYTDZKD77xk/download?force=true");
    background-repeat: no-repeat;
    background-position: center;
    background-color: purple
}